@media only screen and (max-width: 900px) {
    nav {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        font-size: 4vw;

    }

    nav img#logo {
        width: 150px;
        padding-left: 0;
        margin: 10px 0;
    }

    nav ul {
        padding: 10px;
    }

    nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    nav ul li a {
        padding: 5px 10px;
    }

    #container-mbcurso {
        flex-direction: column; /* Cambia la dirección de los elementos a columnas */
    
        height: 480px;
    }

    #MBCurso{
        font-size: 3vw;
        text-align: center;
        padding-top: 240px;
        width: 100%;
        box-sizing: border-box;
        padding-left: 8%;
        padding-right: 8%;

    }
    #MBCursoIMG {
        flex: 1 1 100%; /* Ambos elementos ocupan todo el ancho */
    }

    #MBCursoIMG {
        display: none; /* Oculta la imagen en dispositivos móviles */
    }
    #tconocenos {
        width: 100%;
        margin: 10px 0 0;
        padding-top: ;
    }

    #imgconocenos {
        display: none;
    }

    footer{
        font-size: 1vw;
    }

}

