body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    font-size: 0.9vw;
    color: #490a5c;
    background-color: rgba(244, 244, 244, 1);
    padding: 2px 0; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* Añadir sombra */
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 24%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

nav ul li {
    margin-right: 40px; 
}

nav ul li:last-child {
    margin-right: 0; 
}

nav ul li a {
    color: #490a5c;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fff; /* Cambiar color del texto */
    background-color: #490a5c; /* Cambiar color de fondo */
    border-radius: 5px; /* Añadir bordes redondeados */
    padding: 5px 10px; /* Ajustar el relleno */
    transition: all 0.3s ease; /* Agregar transición suave */
}


nav img#logo {
    width: auto; 
    height: 60px;
    padding-left: 24%;
    margin: 10px;
    transition: transform 0.3s ease;
}

main{
    width: 100%;
}

#container-mbcurso {
    background-image: url('Imgs/5.jpg');
    height: 750px;
    background-size: auto; 
    background-position: center;
    display: flex;
    background-attachment: fixed; /* Establece la imagen de fondo como fija */
}

#MBCurso {
    flex: 1;
    color: #FFF;
    padding-left: 20%;
    padding-right: 0;
    padding-top: 300px;
    width: 50%;
    box-sizing: border-box;
    font-size: 0.9vw;
    font-family: 'Poppins', sans-serif;
}

#MBCursoIMG {
    flex: 1;
    position: relative;
    overflow: hidden;
    height: auto; /* Altura máxima de la imagen */
    margin-top: calc(60px + 20px); /* Altura del nav + espacio adicional */
    align-items: start;
    padding-top: 80px;
    padding-right: 20%;
    height: auto;
    max-height: 600px;
}


#MBCursoIMG img {
    max-height: 100%;
    width: auto;
    height: auto;
    padding-left: 30%;
    margin: 0;
}

/* Estilos para el enlace del logo al pasar el mouse por encima */
#logo:hover {
    transform: translateY(-5px); /* Mover hacia arriba al pasar el mouse */
}

section {
    padding: 50px 0;
}


footer {
    background-color: #333;
    color: #bebebe;
    text-align: center;
    padding: 20px 0;
    font-size: 0.7vw;
    font-family: 'Poppins', sans-serif;
}


#Contacto    {
    text-align: center;
    color: #fff;
    background-color: rgb(43, 43, 43);
    height: 250px;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

#conatctoo a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

a span {
    display: inline-block; 
}

a span img {
    vertical-align: middle; 
    margin-right: 5px;
}

footer {
    height: 50px;
}


.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
  }
  
  .whatsapp-float img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }
